<config>
<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <vtp>
      <mode xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-vtp">
        <off> </off>
      </mode>
    </vtp>
  </native>
  </config